@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
  scroll-behavior: smooth;
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

#hoverEffect:hover {
  background: #418434;
  transition: 0.3s;
}

#focusInput:focus {
  outline: 4px solid #5CB949;
  transition: 0.3s;
}

#footerHover:hover {
  color: #5CB949;
  text-decoration: underline;
  transition: 0.3s;
}






@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Scroll for seamless looping */
  }
}

.overflow-x-hidden {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.animate-scroll {
  display: flex;
  width: max-content;
  animation: scroll 60s linear infinite; /* Adjust the speed if necessary */
}

.hexagon {
  position: relative;
  width: 250px; /* Adjust size as needed */
  height: 250px;
  background-color: transparent;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  overflow: hidden;
}

.hexagon-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.second-row {
  margin-left: 125px; /* Offset the second row for hexagonal alignment */
  padding-left: 1.75rem;
}
