@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
  scroll-behavior: smooth;
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

#hoverEffect:hover {
  background: #418434;
  transition: 0.3s;
}

#focusInput:focus {
  outline: 4px solid #5CB949;
  transition: 0.3s;
}

#footerHover:hover {
  color: #5CB949;
  text-decoration: underline;
  transition: 0.3s;
}